@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Lato&family=Major+Mono+Display&family=Montserrat&family=Pacifico&family=Piedra&family=Roboto&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    
    --bg-white: white;
    --theme-primary: #2563EB;
    --theme-secondary: #93C5FD;
    --text-primary: #000000;
    --text-secondary: #ffffff;
    
}

body, html {
    margin: 0;
    padding: 0;
}


h1 {
    margin: 0;
}



/* typography */
.text-minion {
    font-family: 'Pacifico', cursive;
}

.text-wakanda {
    font-family: 'Gugi', cursive;
    font-weight: bolder;
}

.text-kitty {
    font-family: 'Piedra', cursive;
}

/* navbar */
nav {
    background-color: var(--theme-primary);
    color: var(--text-secondary);
}

.heading-nav {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
}

nav li {
    font-size: 1.3rem;
}

ul {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 0 0.5rem 1rem 0.5rem;
}

/* link */
a {
    text-decoration: none;
    color: var(--text-secondary);
}

.link-active {
    text-decoration: underline;
}

/* button */
button {
    display: block;
    margin: auto;
    border: none;
    background-color: var(--theme-primary);
    color: var(--text-secondary);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
}

/* text area */
.text-area {
    display: block;
    margin: 2rem auto;
    background-color: var(--theme-secondary);
    border: 2px solid var(--text-primary);
    width: 80%;
    height: 30vh;
}

/* footer */
footer {
    background-color: var(--theme-primary);
    padding-top: 1rem;
    margin-top: 1rem;
    position: relative;
    bottom: 10;
    width: 100%;
    color: var(--text-secondary);
}

.heading-footer {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

footer ul {
    margin-bottom: 0;
}

/* section */
section {
    background-color: var(--theme-secondary);
    padding: 1rem;
}

/* container */
.container {
    border: 2px solid var(--text-primary);
    border-radius: 0.4rem;
    padding: 1rem;
}

.container-flex {
    display: flex;
    flex-direction: column;
}

.container-flex-item {
    background-color: var(--bg-white);
    margin: 1rem;
    position: relative;
}

.container-contents {
    background-color: transparent;
    width: 100%;
    height: 100%;            
    position: relative;
    top: 0;
    left: 0;
}

.container-contents h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.7rem;
}

.container-contents p {
    font-size: 1.3rem;
    font-weight: 500;
}

/* backgrounds */
.bg {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
}

.bg-minion {
    background-image: url(/images/bg-minion.jpg);
}

.bg-wakanda {
    background-image: url(/images/bg-wakanda.jpg);
}

.bg-kitty {
    background-image: url(/images/bg-kitty.jpeg);
}


















/* desktop */ 
@media only screen and (min-width: 768px) {
    .container-flex {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .container-flex-item {
        width: 30%;
    }
    
    footer {
        position: fixed;
        bottom: 0;
    }
}